#overlayHair {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  display: flex;
  align-content: center;
  z-index: 2; 
}

#base {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  display: flex;
  align-content: center;
  }

img {
  width: 300px;
}
